/* Заголовки #212121 */
/* Текст #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* Основной фон #FFFFFF */
/* фон черный #2F303A */
/* фон серый #F5F4FA */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acsent-color: #2196f3;
  --black-bgc-color: #2f303a;
  --gray-bcg-color: #f5f4fa;
  --background-color: #ffffff;
  --text-white-color: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
.list {
  list-style: none;
}
.link,
.logo {
  text-decoration: none;
}
/* ЗАГОЛОВОК стилизация */
/* site-nav стилизация меню */
.logo {
  color: var(--acsent-color);
}
.logo-footer {
  color: var(--text-white-color);
}
.logo-nav {
  color: var(--title-text-color);
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acsent-color);
}
/* address-nav */
.address-nav .link {
  color: var(--primary-text-color);
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--acsent-color);
}
/* Блок герой */
.hero {
  background-color: var(--black-bgc-color);
}
.hero-title {
  color: var(--text-white-color);
}
.button {
  color: var(--text-white-color);
  background-color: var(--acsent-color);
}
/* <!-- Особенности --> */
.features .title {
  color: var(--title-text-color);
}
.section-title {
  color: var(--title-text-color);
}
/* <!-- Чем мы занимаемся --> */

/* <!-- Наша команда --> */
.section.team {
  background-color: var(--gray-bcg-color);
}
.team-list .title {
  color: var(--title-text-color);
}
/*Подвал */
.footer {
  background-color: var(--black-bgc-color);
}
.address .link {
  color: #ffffff;
  opacity: 60%;
}
.address .link:hover,
.address .link:focus {
  color: var(--acsent-color);
}

.addres-text {
  color: var(--text-white-color);
}
